body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 1s ease;
}

.container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-diff {
    margin: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.progress-container {
    width: 80%;
    margin: 10px auto;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#day-progress-bar, #year-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 1s linear;
}

#day-progress-text, #year-progress-text {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}
.button-container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 10px auto;
}
    
#mute-button, #theme-button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
}

#set-goal {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
}

#goal-input {
    margin-top: 10px;
    padding: 8px;
    width: 80%;
}

.dark-mode {
    background-color: #696969;
    color: #cccccc;
}

.dark-mode .progress-container {
    background-color: #666;
}

.dark-mode #day-progress-bar, 
.dark-mode #year-progress-bar {
    background-color: #00c853;
}
