body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 1s ease;
}

.container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-diff {
    margin: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.progress-container {
    width: 80%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 15px;
}

#day-progress-bar, #year-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 1s linear;
}

#day-progress-text, #year-progress-text {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

#mute-button, #theme-button, #set-goal {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
}

#goal-input {
    margin-top: 10px;
    padding: 8px;
    width: 80%;
}
